---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

// Colors

$color-type1: {{ site.data.generic.color1 }};
$color-type2: {{ site.data.generic.color2 }};
$color-type2-light: {{ site.data.generic.color2-light }};
// $color-type1: #4C6EAD;
// $color-type2: #EAA84E;

$slider-indicator-color: {{ site.data.generic.color1 }};

//

$text-color:       #111;
$background-color: #eee;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

// navbar title font size
$navbar-brand-font-size: 2.1rem;


// Using media queries with like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}



// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "syntax-highlighting",
        "materialize",
        "custom"
;
