---
layout: page
title: Eventi
---

{% for section in site.data.eventi.sections %}
<div class="section">
<div class="row">
<div class="col s12 m6">
{% if section.events %}
  {% for event in section.events %}
    <div class="card">
      <div class="card-image">
        <img src="{{ site.url }}/img/{{ event.image }}">
        <span class="card-title">{{ event.title }}</span>
      </div>
      <div class="card-content">
        <p>{{ event.text }}</p>
      </div>
      <div class="card-action">
        <a href={{ event.link }}>{{ event.linktxt }}</a>
      </div>
    </div>
  {% endfor %}
{% endif %}
</div>
</div>
</div>
{% endfor %}
