---
layout: page
title: Eventi
---

{% for section in site.data.eventi.sections %}
<div class="section">
<div class="row">
<div class="col s12 m6">
{% if section.events %}
  {% for event in section.events %}
    <div class="card">
      {% if event.title %}
      <div class="card-title">
        <p>{{ event.title }}</p>
      </div>
      {% endif %}
      {% if event.image %}
      <div class="card-image">
        <img src="{{ site.url }}/images/{{ event.image }}">
        <!-- <span class="card-title">{{ event.title }}</span> -->
      </div>
      {% endif %}
      {% if event.text %}
      <div class="card-content">
        <p>{{ event.text }}</p>
      </div>
      {% endif %}
      {% if event.link %}
      <div class="card-action">
        <a href="{{ event.link }}">{{ event.linktxt }}</a>
      </div>
      {% endif %}
      {% if event.downloads %}
      {% for file in event.downloads %}
      <div class="card-action">
        <a class="chip custom2 white-text" href="{{site.url}}/course_materials/{{file.url}}"
          style="display: inline-flex; align-items: center; margin:5px 0px;">
          <i class="material-icons" style="margin-left: 0.2em; font-size: 12pt;">file_download</i>
          {{file.name}}
        </a>
      </div>
      {% endfor %}
      {% endif %}
    </div>
  {% endfor %}
{% endif %}
</div>
</div>
</div>
{% endfor %}
