---
layout: page
title: Team
---

{% for section in site.data.people.sections %}
<div class="section">
  <div class="row">
    <div class="col s12">
      <h3>{{section.title}}</h3>
      {% if section.downloads %}
      <ul class="collection">
        {% for download in section.downloads %}
        <li class="collection-item avatar">
          <img src={{ download.image }} alt="" class="circle">
          <span class="title">{{ download.name }}</span>
          <p>{{ download.title }}</p>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}

            