<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.2.4.js"></script>
<script src="{{ site.url }}/js/materialize.min.js"></script>
<script src="{{ site.url }}/js/init.js"></script>

{% if page.script %}
  <script src="{{ site.url }}/js/{{page.script}}"></script>
{% endif %}

<script> 
  $(document).ready(function(){
    $('.slider').slider({full_width: false});
  });
</script>
<script> 
  $(document).ready(function(){
    $('.sidenav').sidenav();
    $('.collapsible').collapsible();
  });
</script>
<script>
  $(document).ready(function(){
    $('.modal').modal();
  });
</script>
<script>
  $(document).ready(function(){
    $('.carousel').carousel();
  });
</script>